.unactive{
  width:86.59%;
  height: 6.25%;
  background-color: #03123D;
  position: relative;
  display: flex;
  border-radius: 5px;
  padding: 10px 14px 10px 16px;
  border: 0px solid pink;
  /*margin: 10px auto 0px;*/
  margin: 0px auto 10px auto;
}
*{
  color: white;
}
.panel{
width:fit-content;
height:5vh;

position: absolute;
z-index: 1;
right: 2vw;
top:13vh;
}
.active{
  width:86.59%;
  height: 6.25%;
  position: relative;
  border: 0px solid pink;
  background-color: #CB1A80;
  border-radius: 5px;
  
  display: flex;
  
  padding: 10px 14px 10px 16px;
  
  /*margin: 10px auto 0px;*/
  margin: 0px auto 10px auto;
  


}
.btn{
  width:100%;
  height: 42%;
  position: relative;
  border: 0px solid #4d5875;
  background-color: transparent;
  border-radius: 5px;
  
  /*margin: 10px auto 0px;*/
  margin: 0px auto 10px auto;
  


}

.box{
  width:86.59%;
  height: 14.5%;
  margin: 0px auto 10px auto;
}
.icon{
  width: 10%;
  position:absolute;
  right: 10px;
}
.true{
  display: block;
}
.false{
  display : none;
}
.riya{
  display: flex;
  justify-content: center;
  align-items: center;
}








body
{
  margin:0;
  padding:0;
  background:#262626;
}
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring>span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring>span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}